SHELL=/bin/sh
PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
#MAILTO=""

#minute hour    mday    month   wday    command
#====== ======= ======= ======= ======= ======================================
0       */4     *       *       *       (cd /usr/local/backupGT_server; git pull) > /dev/null 2>&1
1-59/10 *       *       *       *       (cd /usr/local/backupGT_server/bin; ./scheduleJobs; ./runQueue)
2-59/10 *       *       *       *       nice /usr/local/backupGT_server/bin/showStatus -f

0       6       *       *       *       /usr/local/backupGT_server/bin/showStatus | mail -s "`hostname -s` Backup Status" is.backups@domain.com

